body {
    background-color: #f3f3f9;
}

.user-details-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

.img-thumbnail {
    width: 18rem;
    height: 17rem !important;
    border-radius: 50% !important;
}

.profile-icon {
    color: #0ab39c;
    background-color: #d4f2ee;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.profile-icon:hover {
    color: #097e6e;
}

.title {
    color: #495057;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0;
}

.sub-title {
    color: #848798;
    font-size: 1.2rem;
    margin: 0;
}

.sub-title-title {
    color: #495057;
    margin: 0;
}